/.vscode
/Project/MDK-ARM(uV5)/DebugConfig
/Project/MDK-ARM(uV5)/Listings
/Project/MDK-ARM(uV5)/Objects
/Project/MDK-ARM(uV5)/RTE
/Project/MDK-ARM(uV5)/keil-build-viewer-record.txt
/Project/MDK-ARM(uV5)/project.uvguix.byb
/Project/MDK-ARM(uV5)/project.uvguix.TommyRIckWu
/Project/MDK-ARM(uV5)/EventRecorderStub.scvd
/Project/MDK-ARM(uV5)/keil-build-viewer.log
*.orig
*.bak
/py-script/__pycache__
